/* Universal 
* { position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:focus { outline:none; } */

.node.root { margin:2em 0; padding-left:0; }
.node { margin: 0; padding-left:2em; }
.node > form { padding:.5em 0; margin:0; border-radius:.25em; position:relative; }
/*.node > form:first-child { margin-top:1.5em; }*/
/*.node > form:last-child { margin-bottom:0em; }*/

form > .handle { display:none; height:100%; width: .5em; position:absolute; top:0; left:-.5em; background: rgba(0,0,0,.1); cursor:move; border-radius:.25em 0 0 .25em; }
form:hover > .handle { display:block; }

.placeholder { min-height:1em; margin:.5em; border:2px dashed rgba(150,5,10,.75); border-radius: .5em; }
.nodeList.sortStart { min-height:1em; padding:1em 0; border:2px dashed rgba(0,0,0,.05); }

.node .formWrapper input { border:none; background:none; width:60px; box-shadow:none; text-shadow:none; color:#222; border-bottom:1px solid rgba(0,0,0,.05); border-radius:0; }
.node .formWrapper input.error { border-bottom:1px solid rgba(255,0,0,.5); }
.node .formWrapper input:hover { border-bottom:1px solid rgba(0,0,0,.1); }
.node .formWrapper input.nodeName,
.node .formWrapper input.emOutput { cursor:default; }

/* ==========================================================================
    Helper classes
========================================================================== */
.ir { display:block; background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden }
.group:before, .group:after { content: " "; display: table; }
.group:after { clear: both }
.group { *zoom: 1 }

/* Overlay Baseline */
/** body:hover::before{top:;pointer-events:none;width:100%;height:100%;display:block;content:"";position:absolute;z-index:9999;background-size:100% .75em;background-origin:content-box;background-attachment:local;background-image:-webkit-linear-gradient(rgba(0,255,255,.75) 1px,transparent 1px);background-image:-moz-linear-gradient(rgba(0,255,255,.75) 1px,transparent 1px);background-image:linear-gradient(rgba(0,255,255,.75) 1px,transparent 1px)}
/** body:hover *{background:none !important;outline:1px dashed rgba(100%,0%,0%,.5)}