/* 
** Stubborness
*/
/*body > header { width:100%; z-index: 9999; }
body > header.stubborn-on { position: fixed; top:-54px; left:0; }
body > header.stubborn-on + .wrapper { margin-top: 12.5rem; }

.stubbornImg.stubborn-on img { position: fixed; top:72px; }
.stubbornTitle.stubborn-on { position: fixed; top:72px; }
.stubbornMeta.stubborn-on { position: fixed; top:214px; }*/

.stubbed { position: fixed; visibility:hidden; z-index:9999; }